{% comment %}
  
  SNIPPET used for intros

{% endcomment %}

<div class="measure__fullrow">
   <img src="{{ 'orange-troubleshooting.svg' | asset_url }}" alt="" class="measure__fullrow__check-mark"/>
  <h2 class="h3-minerva">{{ block.settings.troubleshootingTitle }}</h2>
  {{ block.settings.troubleshootingIntro-text-copy }}
</div>