{%- if section.blocks.size > 0 -%}
<section class="home-featured-images">
  <h2 class="h1-style text-center">Featured Styles</h2>
  <ul class="home-featured-images_ul">
    {%- for block in section.blocks -%}
      <li>
        {%- if block.settings.link != blank -%}
          <a href="{{ block.settings.link }}">
        {%- endif -%}

          {%- if block.settings.image != blank -%}
            <span>{{ block.settings.image | img_url: '580x', scale: 2 | img_tag: block.settings.image.alt }}</span>

          {%- endif -%}
          <h3>{{ block.settings.phototitle }}</h3>
           
        {%- if block.settings.link != blank -%}
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</section>
{%- endif -%}


{% schema %}
{
  "name": "Home Featured",
  "class": "index-section",
  "blocks": [
    {
      "type": "image",
      "name": "Photo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "text",
          "id": "phototitle",   
          "label": "Title"     
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Featured",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}