<div id="trade">
	{% section 'trade-intro-section' %}
	{% section 'trade-benefits-section' %}
	<section id="trade-form">
		<div id="trade-form__container">
			<h1 class="h1-style">Application</h1>
			{% comment %} DEV SITE 
			{% render "customer-fields", form_id: "L3t6ev" %}
			{% endcomment %}

			{% comment %} 
			live theme {% endcomment %}
			{% render "customer-fields", form_id: "ewt26m" %}
			
		</div>
		{% section 'trade-help-section' %}
	</section>
</div>